.d-flex {
  display: flex;
  padding: 2px, 2px, 2px, 2px;
}

.card {
  height: 150px;
  width: 250px;
  margin: 8px;
}

.card-img {
  height: 150px;
  width: 250px;
  margin: 8px;
}

.card-img-overlay {
  height: 150px;
  width: 250px;
  margin: 8px;
}

.card-title {
  color: white;
  text-shadow: 1px 1px grey;
}
