.container {
  width: 800px;
  padding: 0px 15px 25px 15px;
  margin-top: 5px;
}

.btns {
  display: flex;
  justify-content: start;
  width: 900px;
}

.your-pets-card {
 display: flex;
 justify-content: space-between;
 height: 60px;
 align-items: center;
}

.card-body p {
  font-size: 12px;
}

.card-body h6 {
  font-weight: bolder;
}

a {
  text-decoration: none;
  color: black;
}

.your-bookings-options {
display: flex;
justify-content: end;
margin-bottom: 5px;
}
