.container {
  background-color: #fff9f0;
  width: 800px;
  padding: 0px 15px 25px 15px;
}

.btns {
  height: 80px;
  align-items: right;
  margin-top: 5px;
}

.cards {
  border: none;
}

.card-body p {
  font-size: 12px;
}

.card-body h6 {
  font-weight: bolder;
}
