// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

.left {
  left: 0;
}

.right {
  right: 0;
  background-color: #fff9f0;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.background {
  height: 100%;
  position: relative;
  top: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  width: 900px;
  margin: auto;
}

.banner {
  background-image: url(https://images.unsplash.com/photo-1560743173-567a3b5658b1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80);
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner h1 {
  font-family: 'Permanent Marker', cursive;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.banner p {
  color: white;
  opacity: .7;
  font-size: 20px;
  text-shadow: 1px 1px 2px black;
}


.card {
    transition: all 0.2s ease;
    cursor: pointer
}

.card:hover {
    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.05)
}
