<div class="container mt-5">
  <h1>Dogs</h1>

  <div class="dropdown">
    <div class="d-flex justify-content-between">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Categories
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="/pets/cat">Cats</a></li>
      <li><a class="dropdown-item" href="/pets/fish">Fish</a></li>
      <li><a class="dropdown-item" href="/pets/reptile">Reptiles</a></li>
      <li><a class="dropdown-item" href="/pets/others">Others</a></li>
    </ul>
    <%= link_to "Back to all pets", pets_path, class: "btn btn-secondary" %>
    </div>
  </div>



  <%= render 'card' %>


</div>
