<div class="containter mt-5">
  <div class="row justify-content-center">
    <div class="col-6">
      <div style="background-color: white" class="mt-3 p-3 rounded-top">
          <%= render 'form' %>
        </div>
    </div>
  </div>
</div>
