<h1>All the pets</h1>
<div class="container mt-3">
  <h1>All pets</h1>

  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Categories
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="/pets/dog">Dogs</a></li>
    <li><a class="dropdown-item" href="/pets/cat">Cats</a></li>
    <li><a class="dropdown-item" href="/pets/fish">Fish</a></li>
    <li><a class="dropdown-item" href="/pets/reptile">Reptiles</a></li>
    <li><a class="dropdown-item" href="/pets/others">Others</a></li>
  </ul>
</div>
  <%= render 'card' %>

</div>
