<div class="mt-5"><br>
</div>
<div class="container3">
  <%# card #1 %>
  <div class="card2">
    <a href="/pets/dog"><img class="card-img" src="https://images.hindustantimes.com/rf/image_size_630x354/HT/p2/2018/09/12/Pictures/happy-golden-retriever-puppy_48da2e54-b6b4-11e8-bbaf-ff4d73ce44e3.jpg" alt="Card image">
      <div class="text-card"><h4>Dogs</h4></div>
    </a>
  </div>
  <%# card #2 %>
  <div class="card2">
    <a href="/pets/cat"><img class="card-img" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/best-boy-cat-names-1606242656.jpg" alt="Card image">
      <div class="text-card"><h4>Cats</h4></div>
    </a>
  </div>
  <%# card #3 %>
  <div class="card2">
    <a href="/pets/fish"><img class="card-img" src="https://images.unsplash.com/photo-1578507065211-1c4e99a5fd24?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Card image">
      <div class="text-card"><h4>Fish</h4></div>
    </a>
  </div>
</div>
<div class="container3">
  <%# card #4 %>
  <div class="card2">
    <a href="/pets/reptile"><img class="card-img" src="https://www.thoughtco.com/thmb/6OiqXPU6UK8Jb-pigtpzS6q73b4=/395x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-622013488-55a1fad50d93429fb927087e1f18cff8.jpg" alt="Card image">
      <div class="text-card"><h4>Reptiles<h4></div>
    </a>
  </div>
  <%# card #5 %>
  <div class="card2">
    <a href="/pets/bird"><img class="card-img" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/how-to-keep-ducks-call-ducks-1615457181.jpg?resize=640:*" alt="Card image">
      <div class="text-card"><h4>Birds</h4></div>
    </a>
  </div>
  <%# card 6 %>
  <div class="card2">
    <a href="/pets/all"><img class="card-img" src="https://www.purina.co.uk/sites/default/files/2020-11/Should%20I%20Get%20a%20Cat%20or%20DogTEASER.jpg" alt="Card image">
      <div class="text-card"><h4> All pets </h4></div>
    </a>
  </div>
</div>

<% if @pets.exists?%>
  <div class="container-xxl">
    <div style="width: 100%; height: 600px;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
<% end %>
