<div class="containter mt-5">
  <div class="row justify-content-center">
    <div class="col-6">
        <h2 class="mt-3">Make a booking</h2>

      <p>Simple form needs to be inserted here</p>

        <div class="form-actions">
          <%= f.button :submit, "Book" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
