<div class="containter mt-5">
  <div class="row justify-content-center">
    <div class="col-6">
        <h2 class="mt-3">Edit booking </h2>
        <%= render 'update_form' %>
    </div>
  </div>
</div>
