<div class="containter mt-5">
  <div class="row justify-content-center">
    <div class="col-6">
        <h2 class="mt-3">Make booking for <%= @pet.name %></h2>
        <%= render 'form' %>
    </div>
  </div>
</div>
