<h1 class="mt-5">Booking ref#001</h1>
Congratulations!<br><br>

Pick up: <%= @booking.check_in %><br>
Drop off: <%= @booking.check_out %><br><br><br>

Enjoy your play date with<br><br>

<%= link_to "â¬… Return to my booking", bookings_path %> |
<%= link_to "ðŸ” Search another pet", pets_path %>
